/**
 * @name SimpleIRC
 * @author lunakittyyy
 * @version 1.1.5
 * @description Some tweaks to make Discord look more like an IRC room. Use with compact mode!
*/

/* messages */

.headerText_f9f2ca { margin-right: 0rem !important; } /*remove small gap between name and message content*/
.wrapper_f9f2ca { /*lessen space between messages*/
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 1rem !important;
}
.message_d5deea .header_f9f2ca { padding-left: 4rem !important; }
.avatar_f9f2ca { display: none; } /*pins fix - a more proper thing for this is needed*/
.avatarDecoration_f9f2ca { display: none; }
.botTag_f9f2ca { display: none; } /*bot tags*/

/* names */

.newMemberBadge_ed263a { display: none; }
.username_f9f2ca { font-weight: normal; }
.username_f9f2ca::before {color: white; content: "<";}
.username_f9f2ca::after {color: white; content: ">";}

/* timestamps */

.separator__3f416 { display: none; }
.header_f9f2ca .timestamp_f9f2ca {
    display: none;
    font-size: 1rem !important;
    font-weight: normal;
    color: lightgreen !important;
    opacity: 1; /*always display timestamps*/
    margin-right: 0rem !important;
    //display: inline !important;
}

.header_f9f2ca .timestamp_f9f2ca::before {content: "[";}
.header_f9f2ca .timestamp_f9f2ca::after {content: "] ";}

/* replies */

.repliedMessage_f9f2ca::before { display: none; } /*little line thingy*/
.replyBadge_f9f2ca { display: none; }

/* other */
.divider_d5deea { /*date divider*/
    margin-top: 0.3rem !important;
    margin-bottom: 0.3rem !important;
}

/*space between chat bar and msgs*/
.scrollerSpacer_e2e187 { height: 8px; }

.form_a7d72e { margin-top: 0px; }
.slowModeIcon__987e1 { display: none !important; }
